@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .info-pane {
        height: 100%;
        width: 214px;
        position: fixed;
        left: 0px;
        z-index: 50;
        background-color: aliceblue;
    }

    .chars-info-list, .chars-info-list ul {
        padding-left: 20px;
    }
    .map {
        height: 88%;
        width: 98%;
        border: solid grey 1px;
        background-color: yellowgreen;
        position: absolute;
    }

    .character {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 2px white solid;
        position: absolute;
        z-index: 100;
    }
    .area {
        border: 2px black solid;
        position: absolute;
        text-align: center;
        font-weight: bold;
    }

    .ent {
        background-color: #ff8000;
    }

    .inf {
        background-color: #db4dff;
    }

    .int {
        background-color: #8a00e6;
    }

    .ifn {
        background-color: #80ffbf;
    }
    .container{
        margin-left: 0px;
        margin-right: 0px;
        max-width: none;
    }
    footer div.container {
        width: 300px;
        background-color: gray;
        color: white;
    }

    footer.border-top {
        border-top: none !important;
    }
</style>

<div class="text-center" style="position: fixed;
        bottom: 0px;
        right: 0px;
        z-index: 20;
        background-color: gray;
        color: white;
">
    <h1 class="display-4">Village 1</h1>
</div>
<div class="info-pane">
    <h2 id="infoTitle" class="text-center">Infos</h2>
    <ul class="chars-info-list">
        @*<li>#1 (ENT) : 
            <ul>
                <li>Bonheur : 60/100</li>
                <li>Position : 20px/50px</li>
            </ul>
        </li>*@
    </ul>
</div>
<div class="map"></div>


<script src="~/js/village-un-01.js"></script>
<script>
    let infoTitle = document.getElementById("infoTitle");
    let infoPaneIsPresent = true;
    //GESTION DE "AFFICHER/CACHER LE INFO-PANE"
    infoTitle.onclick = function () {
        //alert("plop !");
        let infoPane = document.getElementsByClassName("info-pane")[0];
        let infoPaneText = document.getElementsByClassName("chars-info-list")[0];
        if (infoPaneIsPresent == true) {
            infoPane.style.height = "45px";
            infoPaneText.style.display = "none";
        }
        else {
            infoPane.style.height = "100%";
            infoPaneText.style.display = "block";
        }
        
        infoPaneIsPresent = (infoPaneIsPresent == true) ? false : true;
    }; 


//document.getElementById("demo").innerHTML = "Hello JavaScript!";
</script> 