@page
@model VillageUnModel
@{
    ViewData["Title"] = "Village 1";
}

<style>
    .carte{
        height: 500px;
        width: 500px;
        border: solid grey 1px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Village 1</h1>
   <div class="carte"></div>
</div>
